<article class="c-content c-content--{{ post.type }}">

	<header class="c-content__header c-content__header--{{ post.type }}">
		<h1 class="c-content__title c-main__title"><a class="c-content__titlelink" href="{{ post.link }}">{{ post.title }}</a></h1>
	</header>

	<div class="c-content__content c-gutenberg c-stack">
		{{ post.content }}
	</div>

</article>
