<article class="c-content c-content--{{ post.type }}">

	<header class="c-content__header c-content__header--{{ post.type }}">
		<h1 class="c-content__title c-main__title"><a class="c-content__titlelink" href="{{ post.link }}">{{ post.title }}</a></h1>
		<time class="c-content__entrydate c-post__date">{{ _x('Veröffentlicht am %s', 'Singular post entry date', 'sht')|format(post.date) }}</time>
	</header>

	{% include 'partials/post-thumbnail.twig' %}

	<div class="c-content__content c-gutenberg c-stack">
		{{ post.content }}
	</div>

	<div class="c-content__meta">
		{% include 'partials/meta/categories.twig' %}
		{% include 'partials/meta/post_tags.twig' %}
	</div>

</article>
